<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/register_bg.css'%}">
	<title>Registration Page</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<span style="color: white" align="center"><h3> Registration Form</h3> </span>
			</div>
			<div class="card-body">
               <form enctype="multipart/form-data" method="POST" role="form">
                {% csrf_token %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible" id="error_msg" style="color: black;"{{ message.tags }} role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    <script>
                        setTimeout(function(){
                        if ($('#error_msg').length > 0) {
                            $('#error_msg').remove();
                        }
                        }, 2000)
                    </script>
                    <p> </p>
                    {% for field in form %}
                        <div class="row">
                        <div class="col-md-4">
                            <span style="color: white">{{ field.label_tag }} </span>
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                            </div><div class="col-md-8 pull-left">
                                    <p><input name="{{field.name}}" type="{{field.name}}" class="form-control myfont" placeholder="{{field.label}}"> </p>
                            </div>
                            </div>
                        {% endfor %}
            </div>
                 <div class="card-footer">
					<p class="row justify-content-center">
						<input type="submit" value="Register" class="btn float-center register_btn">
					</p>
                    <div class="row justify-content-center">
                    <a class="strong" href="{% url 'home' %}">Back</a>
                    <br> </br>
                  </div>
				</form>
                 </div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
